{% extends "layout.html" %}
{% block content %}
<style type="text/css">
  #resources {
      text-align:center;
      height: 100%;
      padding-top: 30px;
      padding-bottom: 50px;
    }
      a h3 {
        color: #61c9a4;
      }

      a:hover {
        color: #c53540;
      }
      span, .rosa {
        color: #c53540;
      }
</style>
<section id="resources" class="text-center">
    <br><h1>Let's learn to <span class="rosa">code</span>!</h1>
    <h5>From Zero to Hero</h5>
    <p>Here you'll find the best resources to Learn to Code at home</p><br><br>
    <div class="container">
      <div class="row">
        <div class="col-sm"><a href="https://teamtreehouse.com/" target="_blank"><h3>Tree House</h3><img class="rounded-circle" src="{{url_for('static', filename='images/tree.png')}}"/></a></div><br>
        <div class="col-sm"><a href="https://www.coursera.org/" target="_blank"><h3>Coursera</h3><img class="rounded-circle" src="{{url_for('static', filename='images/cours.png')}}" /></a></div><br>
        <div class="col-sm"><a href="https://www.udemy.com/" target="_blank"><h3>Udemy</h3><img class="rounded-circle" src="{{url_for('static', filename='images/udemy.png')}}" /></div><br>
      </div>
      <div class="w-100"></div><br><br>
      <div class="row">
        <div class="col-sm"><a href="https://www.codecademy.com/" target="_blank"><h3>Codecademy</h3><img class="rounded-circle" src="{{url_for('static', filename='images/codecad.png')}}"/></a></div><br>
        <div class="col-sm"><a href="https://www.freecodecamp.org/" target="_blank"><h3>FreeCodeCamp</h3><img class="rounded-circle" src="{{url_for('static', filename='images/freecc.png')}}" /></a></div><br>
        <div class="col-sm"><a href="https://www.pluralsight.com/" target="_blank"><h3>Pluralsight</h3><img class="rounded-circle" src="{{url_for('static', filename='images/plu.png')}}" /></a></div><br>
      </div>
    </div>
</section>

<div class="container text-center">
    <h3>Happy <span class="rosa">Coding</span>!</h3>
</div>
{% endblock content %}
