{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>You don't have permission to do that (403)</h1>
        <iframe src="https://giphy.com/embed/80TEu4wOBdPLG" width="375" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/jennifer-lawrence-bill-clinton-glaad-awards-80TEu4wOBdPLG"></a></p>
        <p>Please check your account and try again.<a href="{{ url_for('index') }}">Go back!</a></p>
    </div>
{% endblock content %}
