{% extends "layout.html" %}
{% block content %}
<style type="text/css">
iframe {
  max-width:100%;
  eight:auto;
}
</style>
    <div class="content-section text-center img-fluid">
        <h1>Oops. Page Not Found (404)</h1>
        <iframe src="https://giphy.com/embed/MUEq7KfQvNolX9YujV" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/oppositeofhate-sally-kohn-the-opposite-of-hate-MUEq7KfQvNolX9YujV"></a></p>
        <p>That page does not exist. You probably got a typo! <a href="{{ url_for('home') }}">Go somewhere nice</a></p>
    </div>
{% endblock content %}
